[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
aiohttp-devtools = "*"
ipython = "*"
sphinx = "*"
pytest = "*"
pytest-cov = "*"
"flake8" = "*"
codecov = "*"
jedi = "*"
pytest-asyncio = "*"
pre-commit = "*"
pylint = "*"
asyncpg = "*"
requests = "*"
bandit = "*"
black = "*"
pylama = "*"
pylama-pylint = "*"

[packages]
aiohttp = "*"
"argon2-cffi" = "*"
daiquiri = "*"
docopt = "*"
itsdangerous = "*"
setproctitle = "*"
trafaret = "*"
aiodns = "*"
yarl = "*"
async-timeout = "*"
cffi = "*"
uvloop = "*"
mistune = "*"
immutables = "*"
defusedxml = "*"
asyncio-foundationdb = "*"
lxml = "*"
bleach = "*"
"foundationdb" = {file = "https://www.foundationdb.org/downloads/6.0.15/bindings/python/foundationdb-6.0.15.tar.gz"}
