[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
aiohttp-devtools = "*"
ipython = "*"
sphinx = "*"
pytest = "*"
pytest-cov = "*"
"flake8" = "*"
codecov = "*"
jedi = "*"
pytest-asyncio = "*"
pre-commit = "*"
pylint = "*"
asyncpg = "*"
requests = "*"
bandit = "*"
black = "*"
pylama = "*"

[packages]
aiohttp = "*"
"argon2-cffi" = "*"
asyncpg = "*"
daiquiri = "*"
docopt = "*"
itsdangerous = "*"
setproctitle = "*"
trafaret = "*"
aiodns = "*"
yarl = "*"
async-timeout = "*"
"aiohttp-jinja2" = "*"
cffi = "*"
async-generator = "*"
uvloop = "*"
msgpack = "*"
mistune = "*"
immutables = "*"
defusedxml = "*"
asyncio-foundationdb = "*"
lxml = "*"
bleach = "*"

[pipenv]
allow_prereleases = true
