#dashboard {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#dashboard > a {
    margin-right: 15px;
    width: 300px;
}

#dashboard > a > h2 {
    float: left;
    margin-right: 15px;
}

#dashboard > a > p {
    text-align: justify;
}
