{% extends "base.jinja2" %}

{% block class %}home feed{% endblock %}

{% block root %}
    <h1>socialiter</h1>
    <form method="GET" action="/query">
        <input type="text" name="query" value="{{ url }}"/>
        <input type="submit" submit="submit" />
    </form>
    <div>
        <h2>{{ feed["title"] }}</h2>
        {% if feed['entries'] %}
            <ul>
            {% for entry in feed['entries'] %}
                <li><a href="{{ entry['link'] }}">{{ entry['title'] }}</a></li>
            {% endfor %}
            </ul>
            {# TODO: add an 'if' if the feed is already in the stream #}
            <form method="POST" action="/feed/add">
                <input type="hidden" name="url" value="{{ url }}" />
                <input type="submit" value="add to stream"/>
            </form>
        {% else %}
            <p>It seems like the feed is emtpy!</p>
        {% endif %}
    </div>
{% endblock %}
