#account-new {
    margin: 200px auto;
    max-width: 500px;
}

#account-new-form {
    display: flex;
    flex-direction: column;
}

#account-new-form input {
    margin-bottom: 5px;
}

#account-new-form textarea {
    margin-bottom: 5px;
    padding: 5px;
}
