{% extends "base.jinja2" %}

{% block class %}register{% endblock %}

{% block root %}
    <h1>socialite</h1>
    <form method="POST" action="/user/register">
        <input type="text" placeholder="username" name="username" value="{{ values.get('username') | maybe }}"/>
        {% if errors['username'] %}
            <p class="error">{{ errors["username"] }}</p>
        {% endif %}
        <input type="password" placeholder="password" name="password" />
        {% if errors['password'] %}
            <p class="error">{{ errors["password"] }}</p>
        {% endif %}
        <input type="password" placeholder="validation" name="validation" />
        {% if errors['validation'] %}
            <p class="error">{{ errors["validation"] }}</p>
        {% endif %}
        <input type="submit" value="register" />
    </form>
{% endblock %}
