#login-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDD;
}

#login-input input {
    margin-bottom: 5px;
}

#login-extra {
    display: flex;
    justify-content: space-around;
}

#login-extra p {
    margin: 0px;
}
