{% extends "base.jinja2" %}

{% block class %}follow{% endblock %}

{% block root %}
    <h1>socialite · {{ user["name"]}} · follow</h1>
    <form method="POST" action="/stream/{{ user["name"]}}/follow">
        <input type="submit" value="follow {{ user["name"]}}" />
    </form>
{% endblock %}
