{% extends "base.jinja2" %}

{% block class %}stream-timeline{% endblock %}

{% block root %}
    <h1>socialite · timeline</h1>
    <form method="POST" action="/stream/">
        <p><textarea placeholder="Expression..." name="expression"></textarea></p>
        <p><input type="submit" value="submit" /></p>
    </form>
    <div class="stream">
        <div class="item">
            <img src="https://picsum.photos/48" />
            <div class="html"><a href="/stream/htmlfu" class="source">htmlfu</a> Curabitur vulputate vestibulum lorem.  Etiam vel tortor sodales tellus ultricies commodo.  Phasellus lacus.  Nunc eleifend leo vitae magna.  Vivamus id enim.</div>
            <p class="metadata"><a href="/item/1234567890">2018-09-21 13:37:00</a></p>
        </div>
    </div>
{% endblock %}
