{% extends "base.jinja2" %}

{% block root %}
    <h1>Counter is equal to {{ counter }}</h1>
    <form method="POST" action="/">
        <input type="submit" value="increment">
    </form>
{% endblock %}
